@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn,
.join {
  background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
}

.active {
  right: 0;
}

.h1 {
  background: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 84px;
  letter-spacing: 0.02em;
}

.card {
  background: linear-gradient(
    268.12deg,
    rgba(254, 254, 255, 0.032) -11.04%,
    rgba(255, 255, 255, 0.018) 104.89%
  );
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
}

/* contact section */
.contact .container {
  background: linear-gradient(
    180deg,
    rgba(254, 254, 255, 0.0145) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
}
.input {
  background: linear-gradient(
    180deg,
    rgba(254, 254, 255, 0.0348) 0%,
    rgba(255, 255, 255, 0.048) 100%
  );
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
  border-radius: 70px;
}


/* footer */
.footer{
  color: #FFFFFFCC;
}